    {% extends "base.html.twig" %}

    {% block title %}
        Bienvenue sur le meilleur réseau d'appartements
    {% endblock %}

    {% block header %}
        <h2>Voici mon header</h2>
    {% endblock %}
{% block body %}

<div class="containers">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Bienvenue sur site de symbnb</h1>
        <p class="lead">Des offres alléchantes</p>
        <hr class="my-4">
        <p>Un logement ?</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </div>

    <h2 class="h1 mt-3 mb4"> Nos appartements stars</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    8 morts et 6 blessés, <strong>49&euros; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000*400" alt="Image de l'appart" style="height: 200px; width: 100%; display : block">
                <div class="card-body">
                    <h4>Appartement de ouf !</h4>
                    <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos incidunt, recusandae ex in, repudiandae nihil hic numquam praesentium deleniti quasi et, adipisci eaque odio sequi impedit officiis labore blanditiis? Minus!
                    </p>
                
                <a href="" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    8 morts et 6 blessés, <strong>49&euros; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000*400" alt="Image de l'appart" style="height: 200px; width: 100%; display : block">
                <div class="card-body">
                    <h4>Appartement de ouf !</h4>
                    <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos incidunt, recusandae ex in, repudiandae nihil hic numquam praesentium deleniti quasi et, adipisci eaque odio sequi impedit officiis labore blanditiis? Minus!
                    </p>
                
                <a href="" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    8 morts et 6 blessés, <strong>49&euros; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000*400" alt="Image de l'appart" style="height: 200px; width: 100%; display : block">
                <div class="card-body">
                    <h4>Appartement de ouf !</h4>
                    <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos incidunt, recusandae ex in, repudiandae nihil hic numquam praesentium deleniti quasi et, adipisci eaque odio sequi impedit officiis labore blanditiis? Minus!
                    </p>
                
                <a href="" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
    </div>

<h2 class="h1 mt-3 mb4">Nos propriétaires stars !</h2>
<div class="row">
    <div class="col">
        <div class="card border-secondary mb-3">
        <div class="card-body">
            <h4>Sidiki</h4>

            <hr>

            <div class="card-text">
             <img src="http://placehold.it/64*64" alt="jejoua" class="float-left mr-4">
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus consequuntur ipsam eos quas laborum nesciunt quam totam dicta dolore, itaque sint doloribus labore recusandae aspernatur exercitationem sed, corrupti in tempora?
             </p>
             <a href="#" class="btn btn-sucess float-right">En savoir plus !</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-secondary mb-3">
        <div class="card-body">
            <h4>Ibrahim</h4>

            <hr>

            <div class="card-text">
             <img src="http://placehold.it/64*64" alt="jejoua" class="float-left mr-4">
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus consequuntur ipsam eos quas laborum nesciunt quam totam dicta dolore, itaque sint doloribus labore recusandae aspernatur exercitationem sed, corrupti in tempora?
             </p>
             <a href="#" class="btn btn-sucess float-right">En savoir plus !</a>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}